#-------------------------------#
# Development Files             #
#-------------------------------#

*~
.DS_Store
.svn
.cvs
*.bak
*.swp
*.cache
*.zip
Thumbs.db
.htaccess

node_modules
vendor

modules/*/assets/css/*.min.css
modules/*/assets/js/*.min.js

.phpintel